<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA396AA92B5562420023D705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA396ABF2B5562440023D705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAAA42B02B558F9100A4D82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
